{% extends 'base.html.twig' %}

{% block body %}
    <h2>Detail of a wish</h2>
    <section>
        <article>
            <div>
                <p>{{ wish.title }}</p>
                <p>[{{ wish.category.name }}]</p>
                <p>Created by {{ wish.author }} on {{ wish.dateCreated | date('Y-m-d') }}</p>
                <p>{{ wish.description }}</p>
                <p><a href="{{ path('wish_delete', {'id' : wish.id}) }}">
                        <button>Delete</button>
                    </a><a href="{{ path('wish_update', {'id': wish.id}) }}">
                        <button>Update</button>
                    </a></p>
            </div>
        </article>
    </section>

{% endblock %}

